<div class="content">
    <div class="title">Group Order &nbsp;<!--<span class="subtitle">Know more about Us</span>--></div>
    <div class="col-xs-12 col-sm-12 paddingleftright-0">
        <div style="height:39px;padding-top:2px; padding-bottom:2px;padding-left:10px; ">
            <table width="100%">
                <tr>
                    <td style="padding-left:20px;">
                        <label for="mySelect"> Vendor </label>
                        <select name="mySelect" id="mySelect" ng-change="getList()"
                            ng-options="option.partner_name for option in partnerList track by option.partnerid"
                            ng-model="data.partnerid">
                        </select>
                        &nbsp; &nbsp;<button class="btn btn-success" ng-click="getList()">Reload</button>
                    </td>
                    <td style="text-align:right; padding-right:20px;">
                        <button class="btn btn-success" ng-click="groupOrder()">Group Order</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ng-style="{'height': getHeight()+'px'}"></div>
    </div>
</div>