<div class="content">
    <div class="title">Unsuccessful History &nbsp;<!--<span class="subtitle">Know more about Us</span>--></div>
    <div class="col-xs-12 col-sm-12 paddingleftright-0">
        <div style="height:39px;padding-top:2px; padding-bottom:2px;padding-right:10px; width:100%; ">
        	<table >
                <tr>
                    <td>Filter Date : </td>
                    <td style="padding-left:10px;">
                        <p class="input-group" style="margin-bottom:0px;">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="datepicker.requestDate" is-open="datepicker.isOpen" datepicker-options="datepicker.options" close-text="Close" readonly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </td>
                    <td style="padding-left:10px;">
                    	<button class="btn btn-success" ng-click="getOrderList()">Refresh</button> </td>
                    <td style="padding-left:10px;">Total : {{gridOptions.data.length}} order(s) </td>
                </tr>
            </table>
            
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ng-style="{'height': getHeight()+'px'}"></div>
    </div>
</div>
<!-- =======SCRIPT MODAL ======= -->