<div class="content">
    <div class="title">Task Assigment</div>
    <div class="col-xs-12 col-sm-12 paddingleftright-0">
        <div style="height:39px;padding-top:2px; padding-bottom:2px;padding-left:10px; ">            
		<table style="width:98%;margin-right:10px;" >
			<tr>
				<td style="width:90px;">Partner Name : </td>
				<td style="width:200px;">
					<select ng-model="input.partnername">
						<option value="" disabled="disabled">- Select Partner -</option>
						<option ng-repeat="item in PartnerName" value="{{item.n_partnerid}}">{{item.n_id}}</option>
					</select>
				</td>
				<td style="width:90px;">Zoomer : </td>
				<td style="width:200px;">
					<select ng-model="input.zoomer">
						<option value="" disabled="disabled">- Select Driver -</option>
						<option ng-repeat="item in driver" value="{{item.n_id}}">{{item.driverid}}</option>
					</select>
				</td>
				
				
			</tr>
			<tr>
				<td style="width:90px;">Vehicle : </td>
				<!-- {{vehicle.id}} -->
				<td style="width:200px;">
					<select ng-model="input.vehicleType">
						<option value="" disabled="disabled">- Select Vehicle -</option>
						<option ng-repeat="vehicles in vehicle" value="{{vehicles.id}}">{{vehicles.desc}}</option>
					</select>
				</td>
				<td style="width:90px;">Barcode : </td>
				<td style="width:200px;">
					<input type="text" ng-model="input.barcode" id="inputbarcode" ng-keypress="checkKey($event)"/>
				</td>
				<td style="padding-left:10px;">
					<button type="button" class="btn btn-success" ng-click="addBarcode()">Add</button>
					<button type="button" class="btn btn-primary" ng-click="submitBarcode()">Submit All</button>
				</td>
			</tr>
		</table>		
		<div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize ui-grid-pinning ng-style="{'height': getHeight()+'px', 'margin-top':'10px'}"></div>
        </div>
</div>