<div class="content">
    <div class="title">Add Partner &nbsp;<!--<span class="subtitle">Know more about Us</span>--></div>
    <div class="col-xs-12 col-sm-12 paddingleftright-0">
        <div style="height:39px;padding-top:2px; padding-bottom:2px;padding-left:10px; ">
            <table >
            <tr>
                <td style="width:120px;"><button type="button" class="btn btn-success" ng-click="addPartner()">Add Partner</button></td>
               <!--  <td style="padding:5px; width:200px;"> <input type="password" ng-model="secret.key" placeholder="Key Please"> </td> -->
                <td style="padding-left:10px;"><button type="button" class="btn btn-success" ng-click="reload()">Reload </button></td>
            </tr>
        </table>
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ng-style="{'height': getHeight()+'px'}"></div>
    </div>
</div>
<script type="text/ng-template" id="PartnerModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Partner Form</h3>
        </div>
        <div class="modal-body">
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="partner" class="col-sm-2 control-label">Partner</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="partner" placeholder="partner" ng-model="input.partner" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-sm-2 control-label">Contact Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact" placeholder="Contact Name" ng-model="input.contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" placeholder="Mobile" ng-model="input.mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="Email" ng-model="input.email">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="address" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10"> 
                            <input type="text" class="form-control" id="address" placeholder="Address" ng-model="input.address" style="width:90%; display:inline;" readonly>&nbsp;<button type="button" ng-click="openMapModal(input)">...</button>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="instruction" class="col-sm-2 control-label">Address Info</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="instruction" placeholder="Address Info" ng-model="input.addressInfo">
                        </div>
                    </div>
                    <div class="form-group" ng-show="input.id > 0" >
                        <label for="address" class="col-sm-2 control-label">Outlet Address</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" ng-click="openAddessModal()">Show Detail</button>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label for="partnertype" class="col-sm-2 control-label">Partner Type</label>
                        <div class="col-sm-10">
                            <select ng-model="input.partnertype" ng-change="changeType()">
                                <option ng-repeat="item in partnertype" value="{{item.typeid}}" >{{item.description}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" >
                        <label for="billingType" class="col-sm-2 control-label">Billing Type</label>
                        <div class="col-sm-10">
                            <select ng-model="input.billingType" ng-change="changeDescription()">
                                <option ng-repeat="item in billing" value="{{item.billingid}}" >{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="billingDescription" class="col-sm-2 control-label">Billing Description</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="billingDescription" placeholder="Billing Description" ng-model="billingdescription" readonly>
                        </div>
                    </div>
                    <div class="form-group" ng-show="input.billingType == '2'" >
                        <label for="basicCharge" class="col-sm-2 control-label">Flat Charge</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="basicCharge" placeholder="RM" ng-model="input.basicCharge">
                        </div>
                    </div>
                    <!-- <div class="form-group" ng-show="input.partnertype == '3'" >
                        <label for="billingType2" class="col-sm-2 control-label">Billing Type</label>
                        <div class="col-sm-10">
                            <select ng-model="input.billingType2" ng-change="changeDescription2()">
                                <option ng-repeat="item in billing2" value="{{item.billingid2}}" >{{item.label}}</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="form-group" >
                        <label for="maxOrderGroup" class="col-sm-2 control-label">Max Order Group</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="maxOrderGroup" placeholder="Max Order Group" ng-model="input.maxOrderGroup">
                        </div>
                    </div> -->
                    <!-- <div class="form-group" >
                        <label for="maxDistanceGroup" class="col-sm-2 control-label">Max Distance Group</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="maxDistanceGroup" placeholder="Max Distance Group" ng-model="input.maxDistanceGroup">
                        </div>
                    </div> -->
                    <div class="form-group" ng-show="input.id > 0 && input.billingType== '10' " >
                        <label for="address" class="col-sm-2 control-label">Weight</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" ng-click="openWeightModal()">Show Detail</button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="input.id > 0 && input.billingType== '10' " >
                        <label for="additionalFee" class="col-sm-2 control-label">Additional Fee/Kg</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" step="0.1" class="form-control" id="additionalFee" placeholder="Additional fee per kg" ng-model="input.additonalFeePerKg">
                        </div>
                    </div>
                    <div class="form-group" ng-show="input.billingType=='10'">
                        <label for="storageandhandling" class="col-sm-2 control-label">Storage And Handling</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="storageandhandling" placeholder="Storage And Handling" ng-model="input.storageandhandling">
                        </div>
                    </div>
                    <div class="form-group" ng-show="input.billingType=='10'" >
                        <label for="fuelsurcharge" class="col-sm-2 control-label">Fuel Charge</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="fuelsurcharge" placeholder="Fuel Charge" ng-model="input.fuelsurcharge">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="serviceCharge" class="col-sm-2 control-label">Service Charge</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="serviceCharge" placeholder="RM" ng-model="input.serviceCharge">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="suminsuredpercentage" class="col-sm-2 control-label">Sum Insured</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="suminsuredpercentage" placeholder="RM" ng-model="input.suminsuredpercentage">
                        </div>
                    </div>
                    <!----storageandhandling:0,
            fuelsurcharge:0,
            suminsuredpercentage:0,*/-->
                   
                    
                   
                    
                    
                    
                    
                    
                    <!-- <div class="form-group" ng-show="input.partnertype == '3'">
                        <label for="partnergroup" class="col-sm-2 control-label">Partner Group</label>
                        <div class="col-sm-10">
                            <select ng-model="input.partnergroup" >
                                <option ng-repeat="item in partnergroup" value="{{item.groupid}}" >{{item.description}}</option>
                            </select>
                        </div>
                    </div> -->
                    
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="PartnerAddressModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Partner Address Form</h3>
        </div>
        <div class="modal-body">
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="partner" class="col-sm-2 control-label">Partner : </label>
                        <div class="col-sm-10">
                            {{dataPartnerAddress.partner}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address : </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" placeholder="Address" ng-model="inputAddress.address" style="width:90%; display:inline;" readonly>&nbsp;<button type="button" class="btn btn-default btn-sm" ng-click="openMapAddressModal(inputAddress)">...</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-sm-2 control-label">Contact : </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact" placeholder="Contact Person" ng-model="inputAddress.contact"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telp" class="col-sm-2 control-label">Telp : </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="telp" placeholder="Telephone Number" ng-model="inputAddress.telp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="addAddress(inputAddress)">Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div style="padding-left:10px; padding-right:10px;">
                            <div id="gridAddress" ui-grid="gridAddressOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="PartnerWeightModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Partner Weight Specification - {{data.partner}} ( {{data.id}} )</h3>
        </div>
        <div class="modal-body">
            <div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="addSpec()">Add</button>
                <table width="100%">
                    <tr>
                        <th style="text-align:center;">From (Kg)</th>
                        <th style="text-align:center;">To (Kg)</th>
                        <th style="text-align:center;">Price (RM)</th>
                    </tr>
                    <tr ng-repeat="item in items">
                        <td><input type="text" style="border:none;text-align:right;width:100%;padding:10px;" ng-model="item.from"></td>
                        <td><input type="text" style="border:none;text-align:right;width:100%;padding:10px;" ng-model="item.to"></td>
                        <td><input type="text" style="border:none;text-align:right;width:100%;padding:10px;" ng-model="item.price"></td>
                    </td>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>
